name: "DEV DEPLOY"

on:
  push:
    branches:
      - dev

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: dev
      aws-assume-role-arn: "arn:aws:iam::594657920776:role/github-actions"
      aws-region: "us-east-1"
      aws-statefile-s3-bucket: "israel-silva-us-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "israel-silva-us-east-1-terraform-lock"